//Common colors
$success: #2ecc71;
$primary: #1abc9c;
$danger: #e74c3c;
$info: #3498db;
$inverse: #34495e;
$default-text-color: #34495e;

//Buttons
$btn-text-color: #fff;
$btn-disabled-color: #bdc3c7;

//Input and Textarea
$text-field-default-border-color: #bdc3c7;
$text-field-default-text-color: #34495e;
$text-field-background: #fff;
$text-field-disabled-background: #f4f6f6;
$text-field-disabled-border: #d5dbdb;
$text-field-disabled-text-color: #d5dbdb;

//Checkbox
$checkbox-background: #bdc3c7;
$checkbox-disabled: #e6e8ea;
$check-icon-color: #fff;

//Images
$img-background-color: #fff;
$img-border-color: #ddd;

//Dropdown
$dropdown-background-color: #ecf0f1;
$dropdown-hover-background-color: #d2d6d7;

//Search
$search-form-default-color: #fff;