//Common colors

$success: #2ecc71;
$primary: #1abc9c;
$danger: #e74c3c;
$info: #3498db;

//Buttons

$btn-text-color: #fff;

//Input
$default-border-color: #bdc3c7;
$default-text-color: #34495e;
$disabled-background: #f4f6f6;
$disabled-border: #d5dbdb;
$disabled-text-color: #d5dbdb;

//Checkbox
$checkbox-background: #bdc3c7;
$checkbox-disabled: #e6e8ea;
$check-icon-color: #fff;
