.announcement-description {
  text-align: left;
  margin-left: 16px;

}

.announcement-description-field {

}

.description-field {
  box-sizing: border-box;
    padding: 16px 0;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}

.announcement-preview {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
h2 {
  margin: 0;
}
