.announcement-item {
  width: 35%;
  display: inline-block;
  background-color: #ebebeb;
  padding: 12px;
  box-sizing: border-box;
  margin:  16px ;

  .announcement-preview-control {
   width: 100%;
  }
}

.announcement-description {
  text-align: left;
  margin-left: 16px;

}

.description-field {
  box-sizing: border-box;
  padding: 16px 0;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 40px;
}

.announcement-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

h2 {
  margin: 0;
}
