.profile-sidebar {
	text-align: center;
	background-color: #34495e;
	padding: 28px;
	position: fixed;
	box-sizing: border-box;
	height: 80%;
}

.profile-sidebar-links {
	list-style-type: none;
	text-transform: uppercase;
	margin: 100px 0;
}

.sidebar-links-icon {
	float: right;
	color: #1abc9c;
}

.profile-sidebar-links li {
	text-align: left;
	margin: 8px 0;
}

.profile-sidebar-links li a {
	color: white;
}