@import '../../../style/color-theme';

.profile-sidebar {
	text-align: center;
	background-color: #fff;
	position: fixed;
	box-sizing: border-box;
}

.profile-sidebar-links {
	list-style-type: none;
	text-transform: uppercase;

}

.sidebar-links-icon {
	float: right;
	color: #262626;
}

.profile-sidebar-links li {
	padding: 20px 28px;
	text-align: left;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.profile-sidebar-links li a {
	color: #262626;
	&:hover {
		color: #67b5ea;
	}
}

.avatar-field {
	padding: 28px;
	background: #262626;
}