@import "../../style/color-theme";

.account {
  margin: 8px 0;
  text-align: left;
  font-size: 18px;
}

.signin-item {
  color: $info;
  font-weight: bold;
  font-size: 18px;
}

.signin-form {
  text-align: center;
}

.signin-terms {
  text-align: left;
}

.signin-icon {
  float: left;
  font-size: 20px;
}