@import "../../../style/sizes.scss";

.announcement-form {
  width: 50%;
  align-self: center;

  .announcement-form-custom-field {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .announcement-form-custom-field-toggle {
      align-self: center;
      margin-right: map-get($indentSizes, m);
    }

    .announcement-form-custom-field-input {
      input {
        margin: 0;
      }
    }
  }

  .announcement-form-amenties {

  }

  .announcement-btn {
    margin-right: map-get($indentSizes, m);
  }

  .announcement-form-item {
    margin: map-get($indentSizes, l) 0;
  }
}