@import "../../style/sizes.scss";

.carousel-wrapper {
  position: relative;
  min-width: $img-medium-width;
  height: 250px;
  overflow: hidden;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;

  &-shown {

    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
}

.carousel-prev {
  color: white;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  cursor: pointer;
}

.carousel-next {
  color: white;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  cursor: pointer;
}