@import "../../style/color-theme.scss";
@import "../../style/sizes.scss";

.upload-image {

  cursor: pointer;
  text-align: center;
  margin: map-get($indentSizes, s);

  &:hover {
    opacity: .75;
    transition: opacity 0.5s linear;
  }

  span {
    padding: map-get($indentSizes, m) map-get($indentSizes, l);
  }

  input {
    display: none;
  }

  .upload-image-button {
    padding: 15px;
    box-sizing: border-box;
    color: white;
    background: #262626;
    border: 1px solid #fff;
  }
}