@import "../../style/color-theme.scss";
@import "../../style/font.scss";
@import "../../style/sizes.scss";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: $default-background-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  padding: 16px;
  box-sizing: border-box;
}