.amenities-list {
  list-style-type: none;
  margin: 28px 0;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  li {
    padding: 14px 0;
    text-align: left;
  }
  .amenity-icon {
    margin-right: 16px;
    color: #83AE3E;
  }
}