.announcement-view {
  align-items: center;
  display: flex;
  flex-direction: column;
  .announcement-images-field {
    width: 77%;
    position: relative;
    .announcement-header {
      color: white;
      position: absolute;
      bottom: 0;
      background: #464646;
      width: 100%;
      text-align: left;
      padding: 24px;
      opacity: 0.8;
      box-sizing: border-box;
    }
  }
}

.announcement-view-main-field {
  width: 100%;
  display: flex;
  flex-direction: row;
  .announcement-amenities-field {
    width: 20%;
    padding: 16px;
    margin: 0 85px;
    text-align: left;
  }

}
.announcement-contacts-field {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 8px 0;
  justify-content: space-around;

}
.announcement-view-description-field {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  padding: 16px;
}

.announcement-overview {
  text-align: left;
  width: 100%;
  padding: 16px;
}

.description-content {
  margin: 28px 0;
  padding: 28px 0;
  text-align: justify;
  width: 100%;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

.owner-contact-info {
  padding: 2px 0;
}

.icon-info {
  float: left;
}

.announcement-main-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.announcement-overview-list {
  list-style-type: none;
  margin: 28px 0;
  padding: 28px 0;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  li {
    padding: 14px 0;
    i {
      color: #83AE3E;
      margin-right: 12px;
    }
  }
}

.announcement-view-item {
  float: right;
}
