@import "../../style/color-theme.scss";
@import "../../style/font.scss";

.slider-container {

  .slider {
    width: 100%;
    max-width: 100%;

    .slider-handle {
      position: relative;
      background-color: $primary;
      cursor: pointer;
      border-radius: 50%;
      width: 20px;
      height: 20px;
    }

    .bar {
      position: relative;
      top: 4px;
      height: 12px;
    }

    .bar-0 {
      background: $btn-disabled-color;
      border-radius: 32px;
    }

    .bar-1 {
      background: $primary;
      border-radius: 32px;
    }

    .bar-2 {
      background: $btn-disabled-color;
      border-radius: 32px;
    }
  }

  .slider-values {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .slider-value {
      margin: 0 5px;
      font-size: $text-field-font-size;
    }

  }
}