div {
    border: 1px solid black;
}

$grid-margin: 1%;
$grid-number: 12;
$column-width: ( 100 - ( $grid-margin * $grid-number - 1 ) ) / $grid-number ;
$column-numbers: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

.row:before,
.row:after,
.clearfix:after {
  content: " ";
  display: table;
}
 
.row {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

[class^="col-"] {
    width: 100%;
    float: left;
    box-sizing: border-box;
}
  
@each $column-number in $column-numbers {
  $i: index($column-numbers, $column-number);

  .col-#{$column-number} { 
    width: $column-width + ( ($column-width + $grid-margin)  * ( $i - 1 ) ) 
  }
  .offset-#{$column-number} {
    margin-left: $column-width  * $i  + $grid-margin * $i  !important; 
  }
 
}
 
