.textarea {
  display: block;
  width: 100%;
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 1.467;
  padding: 8px 12px;
  height: 90px;
  border-radius: 6px;
  box-shadow: none;
  box-sizing: border-box;
  background: #fff none;

  &:focus {
    border: 2px solid #1ABC9C;
    outline: none;
  }

  &:disabled {
    background-color: #f4f6f6;
    border-color: #d5dbdb;
    color: #d5dbdb;
    cursor: default;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
}