.panel {
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #337ab7;
	border-radius: 3px;
	margin: 10px 0;
}

.panel-heading {
	box-sizing: border-box;
	padding: 10px 15px;
	background-color: #337ab7;
	color: white;
}

.panel-body {
	box-sizing: border-box;
	padding: 20px 10px;
}

.checkbox {
	margin-bottom: 10px;
}

.grid-example { 
  overflow: hidden;
  clear:both;
  display: block;
}

.grid-example div {
	border: 1px solid #337ab7;
  background-color: rgba(52, 126, 183, 0.19);
}
