@import "../../style/color-theme.scss";
@import "../../style/sizes.scss";

$btn-border-radius: 6px;

.btn-default {
  text-align: center;
  border: none;
  border-radius: $btn-border-radius;
  color: $btn-text-color;
  margin: map-get($indentSizes, s) 0;

  &:hover {
    opacity: .75;
    transition: opacity 0.5s linear;
  }
}

/*Type*/

.btn-info {
  background-color: $info;
}

.btn-danger {
  background-color: $danger;
}

.btn-success {
  background-color: $success;
}

.btn-primary {
  background-color: $primary;
}

.btn-disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
  background-color: $btn-disabled-color;
}

/*Size*/

.small {
  padding: map-get($indentSizes, xs) map-get($indentSizes, s);
  font-size: 12px;
}

.medium {
  padding:  map-get($indentSizes, s) map-get($indentSizes, l);
  font-size: 16px;
}

.large {
  padding:  map-get($indentSizes, l) map-get($indentSizes, xl);
  font-size: 18px;
}

.btn-block {
  width: 100%;
  padding: map-get($indentSizes, l) map-get($indentSizes, xl);
}
