.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  padding: 0 15%;
  background: #dee6ed;
  box-sizing: border-box;
}

.sidebar-wrapper, .content-wrapper {
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  width: 75%;
  text-align: center;
  padding: 28px;
  background-color: white;
}

.sidebar-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 25%;
}